
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
  --black:#000;
  --white:#fff;
  --text-color: #909090;
  --gray-light-bg:#F5F5F5;
  --gray-bg:#EDEDED;
  --gray-bg-2:#EDEDED;
  --black-2:#353535;
  --primary-font: 'Inter', sans-serif;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.woff2") format("woff2"), url("../fonts/fontello.woff") format("woff");
  font-weight: 100;
  font-style: normal; 
}
[class^="icon-"]:before, 
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-down-open:before {content: '\e800'; }
.icon-left-open:before {content: '\e801'; }
.icon-right-open:before {content: '\e802'; }
.icon-up-open:before {content: '\e803'; }
.icon-down-open-mini:before {content: '\e804'; }
.icon-left-open-mini:before {content: '\e805'; }
.icon-right-open-mini:before {content: '\e806'; }
.icon-up-open-mini:before {content: '\e807'; }
.icon-down-open-big:before {content: '\e808'; }
.icon-left-open-big:before {content: '\e809'; }
.icon-right-open-big:before {content: '\e80a'; }
.icon-up-open-big:before {content: '\e80b'; }
.icon-search:before {content: '\e80c'; }
.icon-search-1:before {content: '\e80d'; }
.icon-star:before {content: '\e80e'; }
.icon-star-empty:before {content: '\e80f'; }
.icon-star-half:before {content: '\e810'; }
.icon-star-1:before {content: '\e811'; }
.icon-star-empty-1:before {content: '\e812'; }
.icon-plus:before {content: '\e813'; }
.icon-minus:before {content: '\e814'; }
.icon-minus-1:before {content: '\e815'; }
.icon-plus-1:before {content: '\e816'; }
.icon-list:before {content: '\e817'; }
.icon-th-large-outline:before {content: '\e818'; }
.icon-chart-bar:before {content: '\e819'; }
.icon-ok:before {content: '\e81a'; }
.icon-layout:before {content: '\e81b'; }
.icon-cancel:before {content: '\e81c'; }
.icon-cancel-1:before {content: '\e81d'; }
.icon-down:before {content: '\e81e'; }
.icon-left:before {content: '\e81f'; }
.icon-right:before {content: '\e820'; }
.icon-up:before {content: '\e821'; }
.icon-truck:before {content: '\e822'; }
.icon-play-outline:before {content: '\e823'; }
.icon-help-circled-alt:before {content: '\e824'; }
.icon-menu:before {content: '\e825'; }
.icon-play:before {content: '\e826'; }
.icon-lock-filled:before {content: '\e827'; }
.icon-lock:before {content: '\e828'; }
.icon-mail:before {content: '\e829'; }
.icon-cart:before {content: '\e82a'; }
.icon-ok-circled:before {content: '\f06d'; }
.icon-twitter:before {content: '\f099'; }
.icon-facebook:before {content: '\f09a'; }
.icon-menu-1:before {content: '\f0c9'; }
.icon-mail-alt:before {content: '\f0e0'; }
.icon-linkedin:before {content: '\f0e1'; }
.icon-star-half-alt:before {content: '\f123'; }
.icon-rupee:before {content: '\f156'; }
.icon-youtube-play:before {content: '\f16a'; }
.icon-instagram:before {content: '\f16d'; }
.icon-pinterest:before {content: '\f231'; }
.icon-whatsapp:before {content: '\f232'; }
.icon-question-circle-o:before {content: '\f29c'; }
.icon-twitter-1:before {content: '\f309'; }
.icon-facebook-1:before {content: '\f30c'; }
.icon-gplus:before {content: '\f30f'; }
.icon-pinterest-1:before {content: '\f312'; }
.icon-tumblr:before {content: '\f315'; }
.icon-instagram-1:before {content: '\f32d'; }
/* =============== Media Queries =============== */

.d-flex{display: flex;}
.flex-wrap{flex-wrap: wrap;}
.align-items-center{align-items: center;}
.justify-content-between{justify-content: space-between;}

*,
*::before,
*::after {box-sizing: border-box; }
body {margin: 0;padding: 0;font-style: normal;font-family: var(--primary-font);font-size: 14px;font-weight: 500;line-height: 1.71;color: var(--text-color);background-color: var(--white);}

figure{margin: 0;}
section{position: relative;}
a,a:hover {text-decoration: none;cursor: pointer; }
button {min-width: inherit;cursor: pointer; }
img{display: block;}
button:focus,input:focus {outline: none; }
input::-webkit-input-placeholder {color: rgb(101, 101, 101,0.5);}
input::-moz-placeholder {color: rgb(101, 101, 101,0.5);}
input:-ms-input-placeholder {color: rgb(101, 101, 101,0.5);}
input:-moz-placeholder {color: rgb(101, 101, 101,0.5);}

h1, h2, h3, h4, h5, h6, p, div{margin: 0; padding: 0;font-family: var(--primary-font);}
ul, li, ol {margin: 0;padding: 0;list-style: none; }
.custom-container {max-width: 1150px;padding: 0 15px;margin: 0 auto; } 
.wrapper {width: 100%;position: relative; }
.img-fluid {max-width: 100%;height: auto; }
p {color: var(--text-color);font-style: normal;font-weight: 500;font-size: 14px;line-height: 1.71;}
b {font-weight: 700; }
.text-center{text-align: center;}
.btn-blue{font-family:var(--primary-font);font-style: normal;font-weight: 500;font-size: 16px;line-height: 1.5;text-align: center;color: var(--black);padding: 16px 56px;box-sizing: border-box;border: 1px solid var(--black);border-radius: 6px;background-color: transparent;}



.announcebar{display: flex;justify-content: center;padding: 10px;background-color: var(--black);}
.announcebar >  div{color: var(--white);font-size: 12px;display: flex;justify-content: center;align-items: center;padding: 0 7px;}
.announcebar > div  b{background-color: var(--white); padding: 5px 10px ;border-radius: 5px;color: var(--black);margin-right: 5px;}

header{padding: 16px 0;}
.logo a img{height: 23px;width: auto;}
.header-search{position: relative;}
.header-search input{width: 372px;height: 56px; padding: 15px 15px 15px 49px; font-style: normal; font-weight: 500; font-size: 14px; line-height: 1.29; color:var(--black); background-color: #F5F5F5;border: 0;}
.header-search .search-icon{position: absolute;left: 16px;top:50%;transform: translateY(-50%); height: 25px;}

.header-other{gap:24px}
.header .menu > ul > li{display: inline-block;margin-left: 52px;}
.header .menu > ul > li > a{font-style: normal;font-weight: 500;font-size: 16px;line-height: 1.1875;color: rgb(0, 0, 0,0.3);transition: color 0.3s ease;padding: 19px 0;display: inline-block;position: relative;}
.header .menu > ul > li:first-child{margin-left: 0;}
.header .menu > ul > li .sub-menu{position: absolute;z-index: 500;background-color:#ffffff;box-shadow: -2px 2px 35px -12px rgba(0,0,0,0.3); padding: 20px 30px;transition: all 0.5s ease;margin-top:25px;opacity:0;visibility: hidden;}
@media(min-width: 992px){
  .header .menu > ul > li.menu-item-has-children:hover .sub-menu{margin-top: 0;visibility: visible;opacity: 1;}
}
.header .menu > ul > li .sub-menu.mega-menu{ left: 50%;transform: translateX(-50%);	max-width: 1150px;width: 100%; 	display: flex;justify-content: space-between;padding:20px 15px;}
.header .menu > ul > li .sub-menu.mega-menu > .list-item{width: 50%;padding:0 15px;}
.header .menu > ul > li .sub-menu.mega-menu .list-item .title{font-size: 16px;color:var(--black);font-weight: 500;line-height: 1;padding:10px 0;text-transform: uppercase;border-bottom: 2px solid var(--black);}
.header .menu > ul > li .sub-menu.mega-menu > .list-item.text-center .title{text-align: center;}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{color:var(--black);}
.list-item-product > ul{display: flex;flex-wrap: wrap;}
.list-item-product > ul li{width: 33.33%;padding: 0 5px;}
.list-item-product > ul li a img{width: 100%;aspect-ratio: 100/100;object-fit: cover;object-position: center center;}
.list-item-product .product-image{background-color: var(--gray-bg);padding: 10px;}
.list-item-product .details{padding: 15px 0;}
.list-item-product .details h3{margin-bottom: 10px;}
.list-item-product .details h3 a{color:var(--black);font-weight: 500;font-size: 18px; }
.list-item-product .details p{font-size: 12px;margin-bottom: 10px;}
.list-item-product .details .shop-now{font-style: normal;font-weight: 500;font-size: 16px;line-height: 1.1875;color: var(--black);}
.menu-list{display: flex;flex-wrap: wrap;margin: 0 -10px;}
.menu-list .items:first-child{width: 66.66%;}
.menu-list .items:first-child ul{display: flex; flex-wrap: wrap;}
.menu-list .items:first-child ul li{width: 50%;}
.menu-list .items{width: 33.33%;padding: 0 10px;}
.menu-list  ul{margin-top: 15px;}
.sub-menu ul li{margin: 5px 0;}
.sub-menu ul li a{font-style: normal;font-weight: 500;font-size: 14px;line-height: 1.1875;color: rgb(0, 0, 0,0.6);transition: color 0.3s ease;display: inline-block;}
.sub-menu ul li:hover a{color: var(--black);}
.mobile-menu-head,
.mobile-menu-trigger{display: none;}

/*responsive*/
@media(max-width: 991px){
  .header .item-center{order:3;flex:0 0 100%;}
  .header .mobile-menu-trigger{display: flex;height: 30px;width: 30px;cursor: pointer;align-items: center;justify-content: center;}
  .header .mobile-menu-trigger span{display: block;height: 2px;background-color: #333333;width: 24px;position: relative;}
  .header .mobile-menu-trigger span:before,
  .header .mobile-menu-trigger span:after{content: '';position: absolute;left:0;width: 100%;height: 100%;background-color: #333333;}
  .header .mobile-menu-trigger span:before{top:-6px;}
  .header .mobile-menu-trigger span:after{top:6px;}
  .header .item-right{align-items: center;}
  .header .menu{position: fixed;width: 320px;background-color:#ffffff;left:0;top:0;height: 100%;overflow: hidden;transform: translate(-100%);transition: all 0.5s ease;z-index: 1099;}
  .header .menu.active{transform: translate(0%);}
  .header .menu > ul > li{line-height: 1;margin:0;display: block;}
  .header .menu > ul > li > a{line-height: 50px;height: 50px;padding:0 50px 0 15px;display: block;border-bottom: 1px solid rgba(0,0,0,0.1);}
  .header .menu > ul > li > a i{position: absolute;height: 50px;width: 50px;top:0;right: 0;text-align: center;line-height: 50px;transform: rotate(-90deg);}
  .header .menu .mobile-menu-head{display: flex;height: 50px;border-bottom: 1px solid rgba(0,0,0,0.1);justify-content: space-between;align-items: center;position: relative;z-index: 501;position: sticky;background-color: #ffffff;top:0;}
  .header .menu .mobile-menu-head .go-back{height: 50px;width: 50px;border-right: 1px solid rgba(0,0,0,0.1);cursor: pointer;line-height: 50px;text-align: center;color:#000000;font-size: 16px;display: none;}
  .header .menu .mobile-menu-head.active .go-back{display: block;}
  .header .menu .mobile-menu-head .current-menu-title{font-size: 15px;font-weight: 500;color:#000000;}
  .header .menu .mobile-menu-head .mobile-menu-close{  height: 50px;width: 50px;border-left: 1px solid rgba(0,0,0,0.1);cursor: pointer;line-height: 50px;text-align: center;color:#000000;	font-size: 25px;}
  .header .menu .menu-main{height: 100%;overflow-x: hidden;overflow-y: auto;}
  .header .menu > ul > li .sub-menu.mega-menu,
  .header .menu > ul > li .sub-menu{visibility: visible;opacity: 1;position: absolute;box-shadow: none;margin:0;padding:15px;top:0;left:0;width: 100%;height: 100%;padding-top: 65px;max-width: none;  min-width: auto;  display: none;transform: translateX(0%); overflow-y: auto;}
  .header .menu > ul > li .sub-menu.active{display: block;}
  @keyframes slideLeft{
    0%{opacity:0;transform: translateX(100%);}
    100%{opacity:1;transform: translateX(0%);	}
  }
  @keyframes slideRight{
    0%{opacity:1;transform: translateX(0%);}
    100%{opacity:0;transform: translateX(100%);}
  }
	.header .menu > ul > li .sub-menu.mega-menu > .list-item img{margin-top:0;}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item.text-center .title{margin-bottom: 20px;}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item.text-center:last-child .title{		margin-bottom:0px;}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item{width: 100%;flex-wrap: wrap;    padding: 0px;	}  
  .menu-list .items{width: 100% !important;}
	.header .menu > ul > li .sub-menu > ul > li > a,
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{display: block;	}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {margin-bottom: 15px;	}
  .list-item-product > ul li{width: 100%;}
	.menu-overlay{position: fixed;background-color: rgba(0,0,0,0.5);left:0;top:0;width: 100%;height: 100%;z-index: 1098;visibility: hidden;opacity:0;transition: all 0.5s ease;}
	.menu-overlay.active{ visibility: visible;opacity:1;}
}


@media only screen and (min-width: 992px) and (max-width: 1200px){
  
  

}
@media only screen and (min-width: 768px) and (max-width: 991px){
  
}
@media only screen and (max-width: 767px){
  .header-search{display: none;}
  
}

@media only screen and (max-width: 575px){
 
}
 